USE [master]
GO
/****** Object:  Database [WFORMTOUR]    Script Date: 13/12/2017 6:51:35 PM ******/
CREATE DATABASE [WFORMTOUR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'[WFORMTOUR]', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\[WFORMTOUR].mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'[WFORMTOUR]_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\[WFORMTOUR]_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WFORMTOUR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WFORMTOUR]
GO
/****** Object:  Table [dbo].[CTDC]    Script Date: 13/12/2017 6:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTDC](
	[MaDiem] [char](5) NOT NULL,
	[MaTour] [char](5) NOT NULL,
	[NgayDen] [datetime] NULL,
	[SoNgayO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDiem] ASC,
	[MaTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTDV]    Script Date: 13/12/2017 6:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTDV](
	[MaDiem] [char](5) NOT NULL,
	[MaDV] [char](5) NOT NULL,
	[SL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDiem] ASC,
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTPDK]    Script Date: 13/12/2017 6:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPDK](
	[MaTour] [char](5) NOT NULL,
	[MaPh] [char](5) NOT NULL,
	[NgayDi] [datetime] NULL,
	[NgayVe] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTour] ASC,
	[MaPh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DiaDiemTQ]    Script Date: 13/12/2017 6:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DiaDiemTQ](
	[MaDD] [char](5) NOT NULL,
	[MaDiem] [char](5) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DiemTQ] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 13/12/2017 6:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDV] [char](5) NOT NULL,
	[TenDV] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIEMDUNG]    Script Date: 13/12/2017 6:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEMDUNG](
	[MaDiem] [char](5) NOT NULL,
	[TenDiem] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GiaTien]    Script Date: 13/12/2017 6:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GiaTien](
	[STT] [char](5) NOT NULL,
	[Tien] [float] NULL,
	[MaTour] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 13/12/2017 6:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [char](5) NOT NULL,
	[TenKH] [nvarchar](30) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [varchar](10) NULL,
	[NgaySinh] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHSAN]    Script Date: 13/12/2017 6:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHSAN](
	[MaKS] [char](5) NOT NULL,
	[MaDiem] [char](5) NOT NULL,
	[TenKS] [nvarchar](50) NULL,
	[DienThoai] [varchar](13) NULL,
	[DiaChi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 13/12/2017 6:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](5) NOT NULL,
	[TenNV] [nvarchar](30) NULL,
	[NgaySinh] [datetime] NULL,
	[DienThoai] [varchar](11) NULL,
	[DiaChi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHieuDKTour]    Script Date: 13/12/2017 6:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHieuDKTour](
	[MaPh] [char](5) NOT NULL,
	[MaNV] [char](5) NOT NULL,
	[MaKH] [char](5) NOT NULL,
	[SoLuong] [int] NULL,
	[NgayLap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Quy]    Script Date: 13/12/2017 6:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Quy](
	[MaQuy] [int] NOT NULL,
	[STT] [char](5) NOT NULL,
	[KhuyenMai] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOUR]    Script Date: 13/12/2017 6:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOUR](
	[MaTour] [char](5) NOT NULL,
	[HanhTrinh] [nvarchar](20) NULL,
	[LoTrinh] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CTDC] ([MaDiem], [MaTour], [NgayDen], [SoNgayO]) VALUES (N'1    ', N'T001 ', CAST(0x0000A6C400000000 AS DateTime), 1)
INSERT [dbo].[CTDC] ([MaDiem], [MaTour], [NgayDen], [SoNgayO]) VALUES (N'2    ', N'T001 ', CAST(0x0000A6C600000000 AS DateTime), 2)
INSERT [dbo].[CTDV] ([MaDiem], [MaDV], [SL]) VALUES (N'1    ', N'1    ', 10)
INSERT [dbo].[CTDV] ([MaDiem], [MaDV], [SL]) VALUES (N'1    ', N'2    ', 20)
INSERT [dbo].[CTDV] ([MaDiem], [MaDV], [SL]) VALUES (N'1    ', N'3    ', 2)
INSERT [dbo].[CTPDK] ([MaTour], [MaPh], [NgayDi], [NgayVe]) VALUES (N'T001 ', N'1    ', CAST(0x0000A6C400000000 AS DateTime), CAST(0x0000A6C700000000 AS DateTime))
INSERT [dbo].[CTPDK] ([MaTour], [MaPh], [NgayDi], [NgayVe]) VALUES (N'T002 ', N'2    ', CAST(0x0000A6C900000000 AS DateTime), CAST(0x0000A6CE00000000 AS DateTime))
INSERT [dbo].[CTPDK] ([MaTour], [MaPh], [NgayDi], [NgayVe]) VALUES (N'T003 ', N'3    ', CAST(0x0000A6C500000000 AS DateTime), CAST(0x0000A6C700000000 AS DateTime))
INSERT [dbo].[DiaDiemTQ] ([MaDD], [MaDiem], [DiaChi], [DiemTQ]) VALUES (N'D01  ', N'1    ', N'2154', N'BIỂN')
INSERT [dbo].[DiaDiemTQ] ([MaDD], [MaDiem], [DiaChi], [DiemTQ]) VALUES (N'D02  ', N'2    ', N'23145', N'CHỢ ĐÀ LẠT')
INSERT [dbo].[DiaDiemTQ] ([MaDD], [MaDiem], [DiaChi], [DiemTQ]) VALUES (N'D03  ', N'3    ', N'21354', N'CHÙA ÔNG-CHÙA BÀ, CASINO-CAMPUCHIA')
INSERT [dbo].[DICHVU] ([MaDV], [TenDV]) VALUES (N'1    ', N'ĂN UỐNG')
INSERT [dbo].[DICHVU] ([MaDV], [TenDV]) VALUES (N'2    ', N'THUÊ XE')
INSERT [dbo].[DICHVU] ([MaDV], [TenDV]) VALUES (N'3    ', N'KHÁC')
INSERT [dbo].[DIEMDUNG] ([MaDiem], [TenDiem]) VALUES (N'1    ', N'TP HỒ CHÍ MINH')
INSERT [dbo].[DIEMDUNG] ([MaDiem], [TenDiem]) VALUES (N'2    ', N'ĐÀ LẠT')
INSERT [dbo].[DIEMDUNG] ([MaDiem], [TenDiem]) VALUES (N'3    ', N'CHÂU ĐỐC')
INSERT [dbo].[GiaTien] ([STT], [Tien], [MaTour]) VALUES (N'01   ', 5000000, N'T001 ')
INSERT [dbo].[GiaTien] ([STT], [Tien], [MaTour]) VALUES (N'02   ', 13000000, N'T002 ')
INSERT [dbo].[GiaTien] ([STT], [Tien], [MaTour]) VALUES (N'03   ', 1200000, N'T003 ')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai], [NgaySinh]) VALUES (N'1    ', N'Phạm Minh Khoa', N'185', N'0962018970', CAST(0x0000898A00000000 AS DateTime))
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai], [NgaySinh]) VALUES (N'2    ', N'Lưu Tấn Liêm', N'123', N'0123456789', CAST(0x00008A5100000000 AS DateTime))
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai], [NgaySinh]) VALUES (N'3    ', N'Nguyễn Gia Bảo', N'135', N'1234567890', CAST(0x0000893500000000 AS DateTime))
INSERT [dbo].[KHACHSAN] ([MaKS], [MaDiem], [TenKS], [DienThoai], [DiaChi]) VALUES (N'1    ', N'1    ', N'ÓC BẢO', N'123456789', N'12345')
INSERT [dbo].[KHACHSAN] ([MaKS], [MaDiem], [TenKS], [DienThoai], [DiaChi]) VALUES (N'2    ', N'2    ', N'ÓC LIÊM', N'234567891', N'1235')
INSERT [dbo].[KHACHSAN] ([MaKS], [MaDiem], [TenKS], [DienThoai], [DiaChi]) VALUES (N'3    ', N'4    ', N'KHOA ĐT', N'235568971', N'45687')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [DienThoai], [DiaChi]) VALUES (N'NV01 ', N'Phạm Minh Khoa', CAST(0x0000898A00000000 AS DateTime), N'0962018970', N'185')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [DienThoai], [DiaChi]) VALUES (N'NV02 ', N'Lưu Tấn Liêm', CAST(0x00008A5100000000 AS DateTime), N'0123456789', N'123')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [DienThoai], [DiaChi]) VALUES (N'NV03 ', N'Nguyễn Gia Bảo', CAST(0x0000893500000000 AS DateTime), N'1234567890', N'125')
INSERT [dbo].[PHieuDKTour] ([MaPh], [MaNV], [MaKH], [SoLuong], [NgayLap]) VALUES (N'1    ', N'NV01 ', N'1    ', 10, CAST(0x0000A78000000000 AS DateTime))
INSERT [dbo].[PHieuDKTour] ([MaPh], [MaNV], [MaKH], [SoLuong], [NgayLap]) VALUES (N'2    ', N'NV02 ', N'2    ', 5, CAST(0x0000A75400000000 AS DateTime))
INSERT [dbo].[PHieuDKTour] ([MaPh], [MaNV], [MaKH], [SoLuong], [NgayLap]) VALUES (N'3    ', N'NV03 ', N'3    ', 20, CAST(0x0000A6F800000000 AS DateTime))
INSERT [dbo].[Quy] ([MaQuy], [STT], [KhuyenMai]) VALUES (1, N'01   ', 2)
INSERT [dbo].[Quy] ([MaQuy], [STT], [KhuyenMai]) VALUES (2, N'02   ', 0.75)
INSERT [dbo].[Quy] ([MaQuy], [STT], [KhuyenMai]) VALUES (3, N'03   ', 0.5)
INSERT [dbo].[TOUR] ([MaTour], [HanhTrinh], [LoTrinh]) VALUES (N'T001 ', N'3 ngày 2 đêm', N'TP HCM - Đà Lạt - Nha Trang')
INSERT [dbo].[TOUR] ([MaTour], [HanhTrinh], [LoTrinh]) VALUES (N'T002 ', N'5 ngày 4 đêm', N'TP HCM - Phan Thiết - Nha Trang - Đà Nẵng')
INSERT [dbo].[TOUR] ([MaTour], [HanhTrinh], [LoTrinh]) VALUES (N'T003 ', N'2 ngày 1 đêm', N'TP HCM - Vũng Tàu')
ALTER TABLE [dbo].[CTDC]  WITH CHECK ADD FOREIGN KEY([MaDiem])
REFERENCES [dbo].[DIEMDUNG] ([MaDiem])
GO
ALTER TABLE [dbo].[CTDC]  WITH CHECK ADD FOREIGN KEY([MaTour])
REFERENCES [dbo].[TOUR] ([MaTour])
GO
ALTER TABLE [dbo].[CTDV]  WITH CHECK ADD FOREIGN KEY([MaDiem])
REFERENCES [dbo].[DIEMDUNG] ([MaDiem])
GO
ALTER TABLE [dbo].[CTDV]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DICHVU] ([MaDV])
GO
ALTER TABLE [dbo].[CTPDK]  WITH CHECK ADD FOREIGN KEY([MaPh])
REFERENCES [dbo].[PHieuDKTour] ([MaPh])
GO
ALTER TABLE [dbo].[CTPDK]  WITH CHECK ADD FOREIGN KEY([MaTour])
REFERENCES [dbo].[TOUR] ([MaTour])
GO
ALTER TABLE [dbo].[DiaDiemTQ]  WITH CHECK ADD FOREIGN KEY([MaDiem])
REFERENCES [dbo].[DIEMDUNG] ([MaDiem])
GO
ALTER TABLE [dbo].[GiaTien]  WITH CHECK ADD FOREIGN KEY([MaTour])
REFERENCES [dbo].[TOUR] ([MaTour])
GO
ALTER TABLE [dbo].[KHACHSAN]  WITH CHECK ADD FOREIGN KEY([MaDiem])
REFERENCES [dbo].[DIEMDUNG] ([MaDiem])
GO
ALTER TABLE [dbo].[PHieuDKTour]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PHieuDKTour]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Quy]  WITH CHECK ADD FOREIGN KEY([STT])
REFERENCES [dbo].[GiaTien] ([STT])
GO
USE [master]
GO
